body {
  padding-top: 40px;
  padding-bottom: 40px;
}
 
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

/*Aligns inputs properly*/
input {
  margin: 10px auto;
  border-bottom-right-radius: 10;
  border-bottom-left-radius: 10;
}

/*Sets white color for the text inside the buttons*/
.buttonBG{
  color:white !important;
}

/*Hides the message for the registration form*/
#flash{
  display:none;
}

/*Centers the footer*/
.footer p{
  text-align: center;
}

/*Carousel styling */
.carousel-inner{
  position: relative;
}

#carousel1{
  margin:10px auto;
}

.marketing{
  margin-top: 300px;
}
#carousel1 img{
  opacity: 0.6;
  height: 300px !important;
}

#header{
  position: absolute;
  z-index: 1;
  top:40px;
  left:20px;
}
