<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename = 'jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jQuery-File-Upload/js/vendor/jquery.ui.widget.js')}}"></script>
    <script src="{{ url_for('static', filename = 'jQuery-File-Upload/js/jquery.fileupload.js') }}"></script>
    <script src="{{ url_for('static', filename = 'jQuery-File-Upload/js/jquery.fileupload-process.js') }}"></script>
    <script src="{{ url_for('static', filename = 'jQuery-File-Upload/js/fileupload-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js.js') }}"></script>
    <script src="{{ url_for('static', filename='listWishes.js') }}"></script>
    <title>Python Flask Bucket List App</title>
  </head>
  <body>
      <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li role="presentation" class="active"><a href="#" class="btn btn-primary buttonBG">Add Item</a>
                    </li>
                    <li role="presentation"><a class="btn-primary btn buttonBG ml-4" href="{{ url_for('userHome') }}">My Wishes</a>
                    </li>
                    <li role="presentation"><a class="btn-primary btn buttonBG ml-4" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <section>
            <form role="form" method="post" action="{{ url_for('addWish') }}">
                <!-- Form Name -->
                <legend>Create Your Wish</legend>
     
                <!-- Text input-->
                <div class="form-group">
                    <label for="txtTitle">Title</label>
                    <input id="txtTitle" name="inputTitle" type="text" placeholder="Enter the title of your wish" class="form-control input-md">
                </div>
     
                <!-- Textarea -->
                <div class="form-group">
                    <label for="txtPost">Description</label>
                    <textarea class="form-control" id="txtPost" name="inputDescription" placeholder="Enter a description of your wish"></textarea>
                </div>
     
     
                <div class="form-group">
                    <label for="txtPost">Photos</label>
     
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip; <input type="file" id="fileupload" name="file" multiple>
                            </span>
                        </span>
                    </div>
                </div>
     
                <div class="float-right" id="myImage">
                    <img id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail transform-image">
                    <input type="hidden" name="filePath" id="filePath"></input>
                </div>
                <div class="form-group">
                    <label>Mark this as private and not visible to others.</label>
                    <br/>
                    <input type="checkbox" name="private"> Mark as Private <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>
     
                <div class="form-group">
                    <label>Have you already accomplished this?</label>
                    <br/>
                    <input type="checkbox" name="done"> Mark as Done <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
     
                <!-- Button -->
                <div class="form-group">
                    <p class="text-center">
                        <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                    </p>
                </div>
            </form>

        </section>
        
        <footer class="footer">
            <p>The marshmallow &copy; Company 2015</p>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
